@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

@mixin bg-box($bg-cor: $branco, $cor: $cinza, $tb: 40px, $lr: 0px){
    background: $bg-cor;
    margin: $tb $lr;
    color: $cor;
          
}

@mixin title-pages($size: 1rem, $color: #999, $transform: none, $border: none){
    font-size: $size;
    color: $color;
    text-transform: $transform;
    padding: 20px 0px 10px 0;
    display: block;
    border-bottom: $border;
}