.pages{
    margin: 0;
    padding: 0;
    h1{
        @include title-pages(1.5rem, $cinza, uppercase);
        border-bottom: 5px solid $cinza;  
    }    
    .title{
        @include title-pages(3.5rem, $cinza-fraco);
        font-weight: 300;
    }
    div.box-pages{
        @include bg-box($rosa,$azul);
        -webkit-box-shadow: 0px 0px 5px 0px $cinza; 
        box-shadow: 0px 0px 5px 0px $cinza;
        p.info-form{
            font-size: 1.2rem;            
        }
    }
}