$roxo: #D0A1D4;
$azul: #57acc4;
$azul-fraco: #8CD0E3;
$rosa: #FFDBF4;
$branco-1: #D3CED2;
$branco: #FFFFFF;
$branco-fraco: rgb(253, 249, 249);
$laranja: #F9A026;
$laranja-fraco: #ecb362;
$amarelo: #F5EA77;
$preto: #222;
$cinza: #999;


